<h1>Details of - {{ project.name }} Project</h1>
<p>
  Najwcześniej dodana funkcja jest jednocześnie datą staru projektu. Jest to:
  {{ startDate }}
</p>
<p>
  Czas w dniach, który upłynął od momentu rozpoczęcia projektu wynosi:
  {{ timeSpent }}
</p>
<p>
  Przewidywany czas zakończenia wszystkich zadań: {{ estimatedTime }} godziny
</p>
<p>Roboczo godziny przepracowane nad projektem {{ manHour }} .</p>

<p>Użytkownicy przypisani do Zadań z projektu {{ project.name }}:</p>
<ul>
  <li *ngFor="let user of userAssignedToTask">
    Login: {{ user.login }}, Name: {{ user.name }}, Surname: {{ user.surname }}
  </li>
</ul>

<p>Właściciele funkcjonalności przypisanych do projektu {{ project.name }}:</p>
<ul>
  <li *ngFor="let user of userAssignedToFunctionality">
    Login: {{ user.login }}, Name: {{ user.name }}, Surname: {{ user.surname }}
  </li>
</ul>
