<h2>Lista funkcjonalności</h2>

<table
  mat-table
  [dataSource]="functionalitiesBelongToProject"
  class="mat-elevation-z8"
  matSort
  #empTbSort="matSort"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nazwa</th>
    <td mat-cell *matCellDef="let functionality">{{ functionality.name }}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let functionality">{{ functionality.status }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Akcje</th>
    <td mat-cell *matCellDef="let functionality">
      <!-- Przyciski akcji -->

      <button mat-icon-button (click)="editFunctionality(functionality)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteFunctionality(functionality)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="viewFunctionalityDetails(functionality)">
        <mat-icon>info</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let functionality; columns: displayedColumns"></tr>
</table>
